<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1> <%= listTitle %></h1>
    </div>
    
    <div class="box">

            <% newlistitems.forEach((item)=>{ %>
                <form action="/delete" method="POST">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
                        <p> <%= item.name %> </p>
                    </div> 
                    <input type="hidden" name="listName" value="<%= listTitle %>">
                </form> 
            <% }) %>

  

            <form class= "item" action="/" method="POST">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
    </div>

    
    
</body>
</html>